.idea/
.vagrant/
docroot/*
.env_*
database_backups/*
.tmp
hosts.dpkg-new
ansible.cfg.dpkg-dist
playbook.retry
hosts.dpkg-dist
*.sql
tmp

# https://docs.docker.com/compose/extends/#different-environments
docker-compose.override.yml

# Ignore contents of /app
app/*
